* {
  margin: 0;
  padding: 0;
  font-style: italic;
}

.col-12 .card {
  border: var(--border);
  color: var(--color-text-header);
  border-radius: var(--radius-2);
  box-shadow: var(--box-shadow);
  transition: var(--box-shadow) 0.3s ease;
}
.h-100 .card-img-top {
  max-width: 18rem;
}

.card-body {
  text-shadow: var(--box-shadow);
}

.picture-name {
  color: var(--color-text-link);
  font-family: "Abril Fatface", sans-serif;
  font-size: var(--spacing-2);
  cursor: pointer;
}
a {
  text-decoration: none;
}
a :hover {
  color: var(--color-link-hover);
}
a h5 {
  margin: var(--spacing-1) auto;
}
