.wrapper {
  margin: var(--spacing-3) auto;
  transition: var(--box-shadow) 0.1s ease-in;
  border-radius: var(--radius-2);
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}
// .card {
//   transition: box-shadow 0.1s ease-in;
//   border-radius: var(--border-radius);
// }
img {
  position: unset;
  object-fit: cover;
}
.art-title {
  font-style: italic;
  margin: var(--spacing-3);
  cursor: pointer;
  text-align: center;
}
