.container-wrapper {
  display: block;
  width: 100%;
  height: auto;
}
.card {
  border: var(--border);
  color: var(--color-text-header);
  border-radius: var(--radius-2);
  box-shadow: var(--box-shadow);
  transition: var(--box-shadow) 0.3s ease;
  width: 100%;
  height: auto;
}
.card-body {
  text-shadow: var(--box-shadow);
}
.art-title {
  font-style: italic;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: var(--color-text-link);
}
a h5 {
  margin: 0 auto;
}
