* {
  font-style: italic;
}
.card {
  margin: var(--spacing-2) auto;
}
.read-more {
  text-align: justify;
}
#read-button h6 {
  margin: var(--spacing-2);
  padding-bottom: var(--spacing-2);
  background: none;
  border: none;
  color: var(--color-text);
}
#read-button h6:hover {
  background: none;
  border: none;
  color: var(--color-background-secondary);
}
.blockquote-footer {
  margin-top: var(--spacing-2);
}
