* {
  font-style: italic;
}
.card {
  margin: var(--spacing-2) var(--spacing-3);
}
.read-more {
  text-align: justify;
}
.btn {
  margin-top: var(--spacing-2);
}
.blockquote-footer {
  margin-top: var(--spacing-2);
}
