.loader,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: italic;
}
.container-art {
  flex-wrap: wrap;
}
.art-title {
  margin: var(--spacing-4);
  color: var(--color-text-header);
  text-align: center;
  align-items: center;
}

.img {
}
.art-info {
  width: 60%;
  height: auto;
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin: var(--spacing-2) var(--spacing-4);
  padding: var(--spacing-1);
}

.btn-primary {
  margin: o auto;
}
