.loader,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: italic;
}
.container-art {
  flex-wrap: wrap;
  margin: var(--spacing-4);
  padding: var(--spacing-3);
}
.art-title {
  margin: var(--spacing-5);
  color: var(--color-text-header);
  text-align: center;
  align-items: center;
}

.img {
  width: 100%;
  height: auto;
}
.art-info {
  width: 100%;
  height: auto;
  display: block;
}

h2,
h4,
h3,
h5,
h6 {
  text-align: center;
  margin: var(--spacing-2) var(--spacing-4);
  padding: var(--spacing-1);
}
h6 {
  vertical-align: middle;
  text-align: justify;
}
.blockquote {
  width: 100%;
  height: auto;
}
a .btn-secondary {
  margin: o auto;
  color: var(--color-text-button);
}
