.loader {
  font-style: italic;
}
.art-title {
  font-style: italic;
  margin: var(--spacing-4);
  color: var(--color-text-header);
  text-align: center;
  align-items: center;
}
.art-info {
  width: 60%;
  height: auto;
  display: block;
  object-fit: cover;
}
