* {
  font-style: italic;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
}

.container {
  padding-top: var(--spacing-2);
}

.booking-info .btn-secondary {
  color: var(--color-text-button);
}
