.collection-title {
  font-size: italic;
  padding-top: var(--spacing-3);
}
p {
  color: var(--color-alert);
  display: table-cell;
  position: absolute;
  margin: 0 auto;
  vertical-align: middle;
}
section {
  min-height: 200px;
}
.row-cols-md-3 {
  object-fit: cover;
  width: 100%;
  height: 80vw;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
}
