.collection-title {
  font-size: italic;
  padding-top: var(--spacing-3);
}
// .arts {
//   display: flex;
//   flex-flow: row wrap;
// }
p {
  color: var(--color-alert);
  display: table-cell;
  position: absolute;
  margin: 0 auto;
  vertical-align: middle;
}
section {
  min-height: 200px;
}
