.fs-2 {
  font-style: italic;
  margin-top: var(--spacing-4);
}

.main {
  background-image: url("https://kartinkin.net/uploads/posts/2021-07/thumbs/1626957577_31-kartinkin-com-p-krasivii-svetlo-serii-fon-krasivo-31.jpg");
  background-color: #f8f6f6;
  background-repeat: no-repeat;
  background-size: cover;
  // box-sizing: border-box;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}
