h1 {
  font-style: italic;
}
div.main {
  background-image: url("https://mdbootstrap.com/img/new/fluid/city/018.jpg");
  background-color: #f8f6f6;
  background-repeat: no-repeat;
  background-size: cover;
}
