* {
  font-style: italic;
}
.alert {
  border: solid;
  box-shadow: var(--box-shadow);
  border-style: inset;
  padding: var(--spacing-3);
  width: 100%;
  height: auto;
}
.link {
  font-size: var(--spacing-2);
  font-family: "Orelega", "Abril Fatface", sans-serif;
}
