.form-outline {
  width: 80%;
  background: var(--color-background);
  border: none;
  padding: 0.5rem;
  align-items: center;
  margin: 0 auto;
}
.search-input {
  width: 100%;
  padding-left: var(--spacing-2);
  padding: var(--spacing-1);
  border-radius: var(--radius-2);
}
